# Backend environment configuration
PORT=9001
FRONTEND_URL=http://localhost:5173
JWT_SECRET=change_me_in_production

# MongoDB
# MONGODB_URI=mongodb://localhost:27017/your_db

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=doiuawbns
CLOUDINARY_API_KEY=687876382146913
CLOUDINARY_API_SECRET=MA2zjxvC-BI9F6cjJf8JDnOiN-s
